body {
    margin: 1em;
    background-color: rgb(128, 226, 243);
}

h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    margin: .5em 0;
}

.urgent {
    background-color: rgb(233, 193, 193);
}

.urgentTask, .otherTask {
    font-size: 1.1em;
    font-weight: bold;
}

.other {
    background-color: rgb(247, 247, 193);;
}

.completeBtn {
    background-color: lightgreen;
}

.urgentBtn {
    background-color: rgb(247, 93, 93);
}

.deleteBtn {
    background-color: lightgrey;
    border:1px solid black;
}

.submitForm {
    margin-top: 3em;
}

#submitTaskBtn {
    background-color: #ffc107;
    font-weight: bolder;
    color: black;
    float: right;
}

#taskInput {
    width: 70%;
}

.complete {
    text-decoration: line-through;
    text-decoration-thickness: .13em;
    background-color: lightgreen;
}